flows (1).json
[{"id":"8962bd5e.fa75d","type":"tab","label":"Life Predictancy","disabled":false,"info":""},{"id":"14a663b2.4835bc","type":"ui_form","z":"8962bd5e.fa75d","name":"","label":"Input","group":"f9944241.191bc","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles ","value":"i","type":"text","required":false,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness 1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":270,"y":240,"wires":[["c1ba93c1.3fd77"]]},{"id":"c1ba93c1.3fd77","type":"function","z":"8962bd5e.fa75d","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"hjTRE77OQ09vt2xqJ5CPdKwTtvHQtHKPvWf8cnRDteKz\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["5fb7b87a.225af8"]]},{"id":"c9595c38.c2348","type":"http request","z":"8962bd5e.fa75d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/6cf0db85-b09e-44b8-baa7-d57fe037bff4/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":670,"y":320,"wires":[["98f32dd4.1be35","dbe2bf71.04451"]]},{"id":"aacbc144.a54a3","type":"debug","z":"8962bd5e.fa75d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":420,"wires":[]},{"id":"dbe2bf71.04451","type":"function","z":"8962bd5e.fa75d","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":420,"wires":[["aacbc144.a54a3","fd0f66b2.7d33f8"]]},{"id":"98f32dd4.1be35","type":"debug","z":"8962bd5e.fa75d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":320,"wires":[]},{"id":"fb85ad71.2cb74","type":"function","z":"8962bd5e.fa75d","name":"PrePrediction","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"1974606d-127f-433e-ac92-aba5f12d0c6a\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload ={\"input_data\":[{\"fields\":[\"Country\", \"Year\", \"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness 1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":320,"wires":[["c9595c38.c2348"]]},{"id":"5fb7b87a.225af8","type":"http request","z":"8962bd5e.fa75d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":570,"y":240,"wires":[["fb85ad71.2cb74"]]},{"id":"fd0f66b2.7d33f8","type":"ui_text","z":"8962bd5e.fa75d","group":"f9944241.191bc","order":2,"width":0,"height":0,"name":"","label":"Prediction:","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":500,"wires":[]},{"id":"f9944241.191bc","type":"ui_group","z":"","name":"Prediction","tab":"359c29ea.7b9a86","order":1,"disp":true,"width":"6","collapse":false},{"id":"359c29ea.7b9a86","type":"ui_tab","z":"","name":"Life_Expectancy","icon":"","disabled":false,"hidden":false}]